// | -------------------------------------------------------------
// | Breakpoint
// | -------------------------------------------------------------

@use "sass:map";
@use "sass:meta";

$breakpoints: (
  "default": 0,
  "small": 24em,
  "medium": 48em,
  "large": 75em) !default;

@mixin breakpoint($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (min-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  @else if (meta.type-of($breakpoint)==number) {
    @media (min-width: $breakpoint+"px") {
      @content;
    }
  }

  @else {
    @error "Not a correct value, check _base-breakpoints for available values.";
  }
}