---
import { Image } from 'astro:assets'
import houtenHamer from '../assets/img/afwerken.webp'
import vlinderboor from '../assets/img/gat-boren.webp'
import klauwhamer from '../assets/img/schuren.webp'
import winkelhaak from '../assets/img/vlinderboren.webp'
import houtenHamerIcon from '../assets/img/diensten/houten-hamer.webp'
---
<section id="diensten">
  <div class="container">
    <h2 class="mb-4 text-4xl text-center font-bold  dark:text-white">Wat kunnen wij voor u betekenen?</h2>
    <p class="mt-4 text-center text-neutral-600 dark:text-neutral-300">Wij zijn een allround bouwbedrijf en kunnen u
      helpen met diverse werkzaamheden.</p>

    <div class="grid-cols-1 sm:grid md:grid-cols-4 ">

      <div
        class="mx-3 mt-6 flex flex-col rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
        <Image
          class="rounded-t-lg"
          src={houtenHamer}
          alt="Houten hamer" />

        <div class="p-6">
          <h5
            class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
            Aanbouwen
          </h5>
          <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
            U wilt uw huis uitbreiden door middel van een aanbouw? Bouwbedrijf <a href="https://www.jawbouw.nl">J.A. van
            der Wiel Bouw & Timmerwerken zijn.</a>
            is de aannemer met jarenlange ervaring in aanbouwwerkzaamheden.
            Wij bouwen op traditionele wijze altijd maatwerk.
          </p>
        </div>
      </div>

      <div
        class="mx-3 mt-6 flex flex-col rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
        <Image
          class="rounded-t-lg"
          src={vlinderboor}
          alt="Vlinderboor" />

        <div class="p-6">
          <h5
            class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
            Renovatie
          </h5>
          <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
            Voor professionele renovatiewerkzaamheden moet u bij <a href="https://www.jawbouw.nl">J.A. van der Wiel Bouw
            & Timmerwerken zijn.</a>
            Of het nu om een keukenrenovatie gaat, een badkamerrenovatie,
            of dat u uw hele huis wilt opknappen, wij hebben de kennis en expertise om u te
            helpen bij elke stap van het proces.
          </p>
        </div>
      </div>
      <div
        class="mx-3 mt-6 flex flex-col rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">

        <Image
          class="rounded-t-lg"
          src={klauwhamer}
          alt="Klauwhamer" />

        <div class="p-6">
          <h5
            class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
            Verbouwen
          </h5>
          <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
            Wat u ook wilt laten doen aan uw huis, wij kunnen het! <a href="https://www.jawbouw.nl">J.A. van der Wiel
            Bouw & Timmerwerken zijn.</a> is een
            alleskunner onder de aannemers die garant staat voor kwalitatief hoogstaand werk.
            U kunt ons inschakelen voor uiteenlopende bouwprojecten en werkzaamheden in en rondom het huis.
          </p>
        </div>
      </div>
      <div
        class="mx-3 mt-6 flex flex-col rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">

        <Image
          class="rounded-t-lg"
          src={winkelhaak}
          alt="Winkelhaak" />

        <div class="p-6">
          <h5
            class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
            Vastgoedonderhoud
          </h5>
          <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
            Onderhoud van woningen of bedrijfspanden kost vaak veel tijd. Vooral omdat
            u wilt dat deze ook in de toekomst hun waarde en rendement behouden.

            <a href="https://www.jawbouw.nl">J.A. van der Wiel Bouw & Timmerwerken zijn.</a> kan u helpen door
            ondersteuning te bieden. Of u nu op zoek bent naar iemand
            die een lekkend dak hersteld, een onderhoudsplan opsteld, of dat u het hele beheer uit handen wilt geven.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
