---
import { Image } from 'astro:assets'
import logo from '../assets/img/logo.svg'
---

<!-- Footer container -->
<footer class="footer text-white/75 dark:bg-black dark:text-white/75 lg:text-left">
  <div class="max-w-screen-lg mx-auto py-10 text-center md:text-left">
    <div class="grid-1 grid gap-8 md:grid-cols-2 lg:grid-cols-4">
      <!-- TW Elements section -->
      <div class="">
        <h6
          class="mb-4 flex items-center justify-center font-semibold uppercase md:justify-start">
          <span class="me-3 [&>svg]:h-4 [&>svg]:w-4">
            <a href="/" class="flex items-center gap-2 !no-underline">
              <Image src={logo} alt="Your Logo" width="200" height="130" />
            </a>
          </span>

        </h6>
        <p>

        </p>
      </div>
      <!-- Products section -->
      <div>
        <h6
          class="mb-4 flex justify-center font-semibold uppercase md:justify-start">
          J.A. Wiel Bouw
        </h6>
        <p class="mb-4">
          <a href="/">Home</a>
        </p>
        <p class="mb-4">
          <a href="/contact">Contact</a>
        </p>
        <p class="mb-4">
          <a href="/#diensten">Diensten</a>
        </p>

      </div>
      <!-- Useful links section -->
      <div>
        <h6
          class="mb-4 flex justify-center font-semibold uppercase md:justify-start">
          Diensten
        </h6>
        <p class="mb-4">
          <a href="/#aanbouw">Aanbouwen</a>
        </p>
        <p class="mb-4">
          <a href="/#renovatie">Renovatie</a>
        </p>
        <p class="mb-4">
          <a href="/#verbouwen">Verbouwen</a>
        </p>
        <p>
          <a href="/#vastgoedonderhoud">Vastgoedonderhoud</a>
        </p>
      </div>
      <!-- Contact section -->
      <div>
        <h6
          class="mb-4 flex justify-center font-semibold uppercase md:justify-start">
          Contact
        </h6>
        <p class="mb-4 flex items-center justify-center md:justify-start">
          <span class="me-3 [&>svg]:h-5 [&>svg]:w-5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor">
              <path
                d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z" />
              <path
                d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z" />
            </svg>
          </span>
          Van Galenstraat 23 <br> 2202 JN - Noordwijk
        </p>
        <p class="mb-4 flex items-center justify-center md:justify-start">
          <span class="me-3 [&>svg]:h-5 [&>svg]:w-5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor">
              <path
                d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" />
              <path
                d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" />
            </svg>
          </span>
          <a mailto="info@jawbouw.nl">info@jawbouw.nl</a>
        </p>

      </div>
    </div>
  </div>

  <!--Copyright section-->
  <div class="bg-black/5 p-6 text-center">
    <span>© Copyright:</span>
    <a href="https://www.jawbouw.nl/"
    >J.A. Wiel Bouw</a
    >
  </div>
</footer>


<style lang="scss">
  .footer {
    background-color: var(--dark-100);
  }
  img, svg {
    filter: invert(0.5) brightness(1.8);
  }
  a {
    --action-color: var(--secondary-400);
  }
</style>
