---
import { DarkMode } from 'accessible-astro-components'
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        <DarkMode />
        &copy; {currentYear}
      </p>

    </div>
  </section>

</footer>
